@font-face {
    font-family: 'latoitalic';
    src: url('../fonts/lato/lato-italic-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'molleregular';
    src: url('../fonts/molle/molle-italic-webfont.woff2') format('woff2'),
         url('../fonts/molle/molle-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}